@font-face {
	font-family: "Pretendard";
	font-weight: 400;
	font-display: swap;
	src: local("Pretendard-Regular"), url("./woff2/Pretendard-Regular.woff2") format("woff2"),
		url("./woff/Pretendard-Regular.woff") format("woff");
}

@font-face {
	font-family: "Pretendard";
	font-weight: 700;
	font-display: swap;
	src: local("Pretendard-Bold"), url("./woff2/Pretendard-Bold.woff2") format("woff2"),
		url("./woff/Pretendard-Bold.woff") format("woff");
}

@font-face {
	font-family: "Pretendard";
	font-weight: 900;
	font-display: swap;
	src: local("Pretendard-Black"), url("./woff2/Pretendard-Black.woff2") format("woff2"),
		url("./woff/Pretendard-Black.woff") format("woff");
}

@font-face {
	font-family: "Moirai";
	font-display: swap;
	src: local("MoiraiOne-Regular"), url("./woff2/MoiraiOne-Regular.woff2") format("woff2"),
		url("./woff/MoiraiOne-Regular.woff") format("woff");
}
